## Verification des liens 

```JS
document.querySelectorAll('*[href*="/"]').forEach(link => console.log(link.href));
```

## Verification des H1
```JavaScript
document.querySelectorAll('h1').forEach(h1 => console.log(h1));
```
